.board {
  margin: auto;
  width: 400px;
  height: 400px;
}
.board-row {
  width: 100%;
  height: 6.66667%;
  border-bottom: 1px solid #ffffff;
  box-sizing: border-box;
}

.board-col {
  width: 6.66667%;
  height: 100%;
  background-color: #34495e;
  float: left;
  border-left: 1px solid #ffffff;
  box-sizing: border-box;
  cursor: pointer;
}

.board-cell-cross {
  margin: auto;
  margin-top: 0.65%;
  width: 3px;
  height: 98.7%;
  background-color: #cca92e;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-radius: 1.5px;
  transition: all 0.25s;
}
.board-cell-cross:before {
  background-color: inherit;
  border-radius: inherit;
  height: inherit;
  width: inherit;
  position: absolute;
  content: "";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: all 0.25s;
}

.board-cell-circle {
  margin: 15%;
  width: 70%;
  height: 70%;
  border: 3px solid #e74c3c;
  border-radius: 50%;
  box-sizing: border-box;
}
